name: Metrics
on:
  schedule: [{cron: "30 18 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
    github-metrics:
        runs-on: ubuntu-latest
        environment:
            name: production
        permissions:
            contents: write
        steps:
            - uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.METRICS_TOKEN }}
                  filename: assets/github-metrics.svg

                  # Options
                  user: ${{ github.repository_owner }}
                  template: classic
                  base: "header, activity, community, repositories, metadata"
                  config_timezone: Asia/Calcutta
                  plugin_calendar: yes
                  plugin_calendar_limit: 2
                  plugin_isocalendar: yes
                  plugin_isocalendar_duration: full-year
                  plugin_stargazers: yes
                  plugin_stargazers_charts: yes
                  plugin_stargazers_charts_type: classic
                  plugin_stargazers_days: 14
