name: Profile Automation

on:
    schedule: [{ cron: "0 5 * * *" }]
    workflow_dispatch:
    push: { branches: ["master", "main"] }

jobs:
    update-profile:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Generate Metrics
              uses: lowlighter/metrics@latest
              with:
                  token: ${{ secrets.METRICS_TOKEN }}
                  filename: assets/svg/github-metrics.svg
                  user: sir-siren
                  template: classic
                  base: header, activity, community, repositories, metadata
                  config_octicon: yes
                  config_timezone: America/New_York

                  plugin_languages: yes
                  plugin_languages_indepth: no
                  plugin_languages_limit: 8
                  plugin_languages_sections: most-used
                  plugin_languages_colors: github
                  plugin_languages_threshold: 0%
                  plugin_lines: yes
                  plugin_lines_history_limit: 1
                  plugin_lines_repositories_limit: 4
                  plugin_lines_sections: base
                  plugin_isocalendar: yes
                  plugin_isocalendar_duration: half-year
                  plugin_calendar: yes
                  plugin_calendar_limit: 1
                  plugin_stargazers: yes
                  plugin_stargazers_charts: yes
                  plugin_stargazers_charts_type: classic
                  plugin_stargazers_days: 14
                  repositories_forks: yes
                  plugin_anilist: yes
                  plugin_anilist_user: sirenic
                  plugin_anilist_limit: 2
                  plugin_anilist_limit_characters: 22
                  plugin_anilist_medias: anime, manga
                  plugin_anilist_sections: favorites
                  plugin_anilist_shuffle: yes

            - name: Generate Snake Animation
              uses: Platane/snk/svg-only@v3
              with:
                  github_user_name: ${{ github.repository_owner }}
                  outputs: |
                      assets/svg/github-contribution-grid-snake.svg
                      assets/svg/github-contribution-grid-snake-dark.svg?palette=github-dark
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Commit and Push Changes
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  
                  git add -A
                  git diff --staged --quiet || git commit -m "chore: update profile assets"
                  git pull origin main --rebase
                  git push
